<div
  class="view jarallax"
  style="background-image: url('../../assets/img/skills.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
>
  <!-- Mask & flexbox options-->
  <div
    class="mask rgba-black-light d-flex justify-content-center align-items-center"
  >
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row skillCard">
            <!--Grid column-->
            <div class="col-md-3 pt-3"  *ngFor="let i of [1,2,3,4,5,6,7,8]">
              <mdb-card class="testimonial-card">
                <!--Bacground color-->
                <div class="card-up special-color"></div>

                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                    class="rounded-circle"
                  />
                </div>

                <mdb-card-body>
                  <!--Name-->
                  <mdb-card-title>
                    <h4>Anna Doe</h4>
                  </mdb-card-title>
                  <hr />
                  <!--Quotation-->
                  <p>
                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Eos, adipisci
                  </p>
                </mdb-card-body>
              </mdb-card>
            </div>
            <!--Grid column-->


        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
